vim/.netrwhist
*.log
sublimetext3/Package Control.last-run
sublimetext3/Package Control.cache/*
sublimetext3/Package Control.merged-ca-bundle
vim/.netrwhist
vim/undo
vim/bundle/*
sublimetext3/Color Highlighter/*
sublimetext3/ColorScheme/*
sublimetext3/Package Control.system-ca-bundle
sublimetext3/TextPastryHistory.sublime-settings

# Secrets file
.secrets
