[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-hackernews"]
	path = vim/bundle/vim-hackernews
	url = https://github.com/ryanss/vim-hackernews.git
